<footer>
    <div class="container-footer">
        <p>&copy; <%= new Date().getFullYear() %> KT's Hub Task Pro. All rights reserved.</p>
        <!-- <a href="/about">About Us</a> | 
        <a href="/contact">Contact</a> | 
        <a href="/privacy">Privacy Policy</a> -->
    </div>
</footer>